Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cert-err58-cpp,
  -modernize-use-designated-initializers,
  -readability-braces-around-statements,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -performance-avoid-endl
  -*-throwing-static-initialization

WarningsAsErrors: ""

HeaderFilterRegex: "wpa3_test/.*"

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: "25"
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: "3"
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: "true"
  - key: hicpp-implicit-bool-conversion.AllowPointerConditions
    value: "true"
