.idea/*
!.idea/dictionaries/
!.idea/runConfigurations/
!.idea/inspectionProfiles/
!.idea/tools/
!.idea/.gitignore/
!.idea/codeStyles/
!.idea/cmake.xml
!.idea/sshConfigs.xml
!.idea/editor.xml
lib/external
build
build-cross
cmake-build-debug
run
data
/tests/setup/config_validation/test_suite/run_out
*bin
*trx
*zip
.cache
debug
.claude/
tools